{% extends 'base.html.twig' %}

{% block title %}{{ video.title }} | NotYouTube{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/video.css">
{% endblock %}

{% block body %}
        <div class="row py-3 justify-content-center">
            <div class="col-12 col-md-10">
                <div class="video-wrapper">
                    <video id="mainVid" src="/videos/{{ video.file }}" width="1920" height="1080" controls autoplay muted></video>
                </div>
            </div>
            <div class="col-12 col-md-10 d-flex flex-column video-info">
                <span class="title fs-4">{{ video.title }}</span>
                <span class="author mb-2">
                    <a href="/channel?u={{ video.getAuthor().getUsername() }}" class="text-decoration-none">
                        {{ video.getAuthor().getUsername() }}
                    </a>
                </span>
                <div class="description d-flex flex-column py-2 px-3">
                    {# <span class="fw-bold mb-1">Description</span> #}
                    <span class="fw-bold mb-1">{{ video.views }} views<br/>Uploaded: {{ video.getUploadDate()|date('d-m-Y') }}</span>
                    <pre id="description-text">{{ video.description }}</pre>
                    <div id="description-toggle" tabindex="0">Show more</div>
                </div>
            </div>
        </div>
{% endblock %}

{% block javascripts %}
    <script src="/script/showMore.js"></script>
{% endblock %}